<%- include('../../component/header.ejs') %>
  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include('../../component/sidebar.ejs') %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <%- include('../../component/navbar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4">
                        <select class="form-control" name="branchId" id="branchId">
                          <% for(let i = 0; i < branchs.length; i++) { %>
                            <option value="<%= branchs[i].id %>"><%= branchs[i].name %></option>
                          <% } %>
                        </select>
                      </div>
                      <button type="button" class="btn btn-success" id="btn-filter-location">Filter</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-xl-3 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaksi belum selesai harian</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800 ongoing-transaction"></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300" data-feather="calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pendapatan harian</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800 daily-earnings"></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300" data-feather="calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaksi selesai harian</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800 transaction-finished"></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300" data-feather="calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                  <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Transaksi dibuat harian</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800 transaction-created"></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300" data-feather="calendar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-8 col-lg-7">
                  <!-- Area Chart -->
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Pendapatan Bulanan</h6>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <select class="form-control yearOption" name="year-id" id="year-id">
                              <% for(let i=0; i < years.length; i++) { %>
                                <option value="<%= years[i] %>">
                                  <%= years[i] %>
                                </option>
                                <% } %>
                            </select>
                          </div>
                        </div>
                        <div>
                          <button type="button" class="btn btn-success" id="btn-filter-revenue">Filter</button>
                        </div>
                      </div>
                      <div class="chart-area">
                        <canvas id="revenueChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Donut Chart -->
                <div class="col-xl-4 col-lg-5">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Total Berat per Service</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-pie pt-4">
                        <canvas id="donutReportPerServiceCurrentDate"></canvas>
                      </div>
                      <hr>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <%- include('../../component/footer.ejs') %>
      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->

  <%- include('../../component/js.ejs') %>

    <script>
      $(document).ready(function () {
        $("#btn-filter-revenue").click()
        $("#btn-filter-location").click()

        $.ajax({
          url: "/transaction/report-per-service-current-date",
          type: "POST",
          success: function (data) {
            var reportPerServiceCurrentDate = data.reportPerServiceCurrentDate

            // Chart Data
            data = {
              labels: reportPerServiceCurrentDate.label,
              datasets: [
                {
                  data: reportPerServiceCurrentDate.dataValue,
                  backgroundColor: reportPerServiceCurrentDate.hexColor,
                }
              ]
            };

            context = document.getElementById('donutReportPerServiceCurrentDate');
            var myPieChart = new Chart(context, {
              type: 'doughnut',
              data: data,
              options: {
                maintainAspectRatio: false,
                tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                },
                legend: {
                  display: false
                },
                cutoutPercentage: 80,
              },
            });
          },
          error: function (xhr, status, error) {
            var err = eval("(" + xhr.responseText + ")");
            alert(err.message);
          }
        });
      });

      $("#btn-filter-location").click(function () {
        $.ajax({
          url: "/api/v1/dashboard",
          type: "POST",
          data: {
            branchId : $('#branchId').val()
          },
          success: function (data) {
            $(".ongoing-transaction").text(data.dashboardData.transactionOngoing)
            $(".daily-earnings").text(data.dashboardData.earnings)
            $(".transaction-created").text(data.dashboardData.transactionCreatedToday)
            $(".transaction-finished").text(data.dashboardData.transactionFinishedToday)
          },
          error: function (xhr, status, error) {
            var err = eval("(" + xhr.responseText + ")");
            alert(err.message);
          }
        });
      })

      $("#btn-filter-revenue").click(function () {
        var reqBody = {
          year: $('#year-id').val()
        }

        $.ajax({
          url: "/transaction/revenue-yearly",
          type: "POST",
          data: reqBody,
          success: function (data) {
            var revenue = data.revenueYearlyData.grouping

            // Chart Data
            data = {
              labels: data.monthLabels,
              datasets: [
                {
                  label: 'Dataset 1',
                  data: [
                    revenue["januari"] ?? 0,
                    revenue["februari"] ?? 0,
                    revenue["maret"] ?? 0,
                    revenue["april"] ?? 0,
                    revenue["mei"] ?? 0,
                    revenue["juni"] ?? 0,
                    revenue["juli"] ?? 0,
                    revenue["agustus"] ?? 0,
                    revenue["september"] ?? 0,
                    revenue["oktober"] ?? 0,
                    revenue["november"] ?? 0,
                    revenue["desember"] ?? 0,
                  ],
                  borderColor: '#36A2EB',
                  backgroundColor: '#9BD0F5',
                }
              ]
            };

            context = document.getElementById('revenueChart');
            myChart = new Chart(context, {
              type: 'bar',
              data: data,
              animation: {
                animateScale: true
              },
              options: {
                maintainAspectRatio: false,
                layout: {
                  padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                  }
                }
              }
            })
          },
          error: function (xhr, status, error) {
            var err = eval("(" + xhr.responseText + ")");
            alert(err.message);
          }
        });
      })



    </script>