<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < flow.length; i++) { %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= flow[i].code %>
                            </td>
                            <td>
                                <%= flow[i].name %>
                            </td>
                            <td>
                                <form action="/flow/<%= flow[i].id %>?_method=DELETE" method="POST">
                                    <a data-id="<%= flow[i].id %>" data-code="<%= flow[i].code %>"
                                        data-="<%= flow[i].name %>" data-capacity="<%= flow[i].capacity %>"
                                        class="btn btn-warning btn-sm button-update"><i class="fas fa-edit"></i></a>
                                    <button type='submit' href="" class="btn btn-danger btn-sm"><i
                                            class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>